body {
	margin: auto 0;
}
header, footer {
	background: #444;
	color: #eee;
	text-align: center;
	font-size: 32pt;
	font-family: arial;
	font-weight: bold;
	padding: 15px 0;
}
footer {
	font-size: 18pt;
}
header a, footer a {
	color: #eee;
	text-decoration: none;
}
footer a:hover {
	text-decoration: underline;
}
.footer {
	font-size: 18pt;
}
.header-menu {
	display: block;
	text-align: center;
	list-style: none;
	margin: 0;
}
.header-menu li {
	background: #444;
	color: #fff;
	display: inline-block;
	padding: 5px;
	border: 1px ridge #fff;
	margin-left: -5px;
	cursor: pointer;
}
.header-menu li a {
	color: inherit;
	text-decoration: none;
}
.header-menu li:hover, .header-menu li a:hover {
	background: #fff;
	color: inherit;
}
#content {
	text-align: center;
	min-height: 600px;
	padding: 20px 0;
}
.file-title #filename {
	font-size:18pt;
	font-weight: bold;
}
.file-title #size {
	font-size: 16pt;
	color: #777;
}
.file-content img {
	max-width: 50em;
	max-height: 500em;
}
#download {
	padding: 5px;
	margin-top: 5px;
}
#download a {
	border: 1px solid #444;
	color: inherit;
	text-decoration: none;
	font-size: 1.1em;
	padding: 5px;
	background: #eee;
}
#download a:hover {
	text-decoration: underline;
}
#id {
	font-size: 0.8em;
	margin-bottom: 10px;
}
table.list th, table.list td {
	border: 1px ridge #ddd;
	padding: 3px;
	margin: 5px;
}
table.list {
	margin: 0 auto;
	text-align: left;
	border-collapse: collapse;
}
table.list .filename {
	min-width: 20em;
}
table.list .size {
	min-width: 5em;
}
.uploading {
	display: inline-block;
	text-align: left;
}
.file-field {
	border: 1px ridge #999;
	padding: 10px;
	margin: 10px 0;
}
#add-more-button {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}
.comment {
	width: 100%;
	resize: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.submit {
	float: right;
}
.file-change {
	background: #fff;
}